.container{
    width: 100%;
    border: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.item{
     width: 23%;        
    padding: 15px;
    display: inline-block;
    padding: 15px;
    text-align: center;
    
}
img{
    width: 100%;

}