.container{
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(2);
    gap:10px;
    height: 50vh;
}

.container>.item{
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;    
}

.item1{
    background-color: aquamarine;
    grid-column: 1/3;
    grid-row: 1/2;
}

.item2{
    background-color: aqua;
    grid-column: 3/5;
    grid-row: 1/2;
}

.item3{
    background-color: beige;
    grid-column: 1/2;
    grid-row: 2/3;
}

.item4{
    background-color: cadetblue;
    grid-column: 2/4;
    grid-row: 2/3;
}

.item5{
    background-color: chartreuse;
    grid-column: 4/5;
    grid-row: 2/3;
}
